.finderBar{
    position:relative;
    /* min-width: 165px; */
    max-width: 25vw;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    font-size: 1.8vmin;
    color: #282c34;
    /* background-color: rgb(214, 214, 214); */
}

.finderBar > input{
    /* min-width: 165px; */
    width: calc(25vw - 30px - 2vw);
    min-height: 40px;
    max-height: 5vh;
    margin: 0;
    padding: 0;
    padding-left: 2vw;

    border: none;
    outline: none;
    background-color: rgb(214, 214, 214);
}

.finderBar > a{
    min-height: 40px;
    max-height: 5vh;
    background-color: rgb(214, 214, 214);
}

.finderBar > a > img{
    position: relative;
    top: calc(40px / 8);
}

.finderBar > a:hover{
    background-color: rgb(170, 170, 170);
    filter: invert(1);
}

.active {
    position: fixed;
    top: 5vh;
    background-color: rgb(214, 214, 214);
    width: 25vw;
    padding: 0;
    margin: 0;
    filter: opacity(80%);
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */
    /* borda interna */
    box-sizing: border-box;
    border: solid 2px #676a70;
}

.active > ul > li:hover{
    background-color: rgb(168, 168, 168);
    filter: opacity(100%);
  }

.inactive{
    display: none;
} 