.finderBar{
    position:relative;
    width: 25vw;
    display: flex;
    align-items: center;
    font-size: 1.8vmin;
    padding-left: 2vw;
    color: #282c34;
    /* background-color: rgb(214, 214, 214); */
}

.finderBar > input{
    width: calc(25vw - 30px - 2vw);
    height: 5vh;

    margin: 0;
    padding: 0;
    padding-left: 2vw;

    border: none;
    outline: none;
    background-color: rgb(214, 214, 214);
}

.finderBar > a{
    height: 5vh;
    background-color: rgb(214, 214, 214);
}

.finderBar > a:hover{
    background-color: rgb(170, 170, 170);
    filter: invert(1);
}

.active {
    position: fixed;
    top: 7vh;
    background-color: rgb(214, 214, 214);
    width: 25vw;
    padding: 0;
    margin: 0;

    /* borda interna */
    box-sizing: border-box;
    border: solid 2px #676a70;
}

.inactive{
    display: none;
} 