@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: inherit;
  color: rgb(207, 207, 207);
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1.6vmin);
  color: rgb(207, 207, 207);
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu{
  background-color: #676a70;
  height: 6vh;
}