@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: inherit;
  color: rgb(207, 207, 207);
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1.6vmin);
  color: rgb(207, 207, 207);
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul{
  font-size: calc(10px + 1vmin);
  padding: 0 2vw 0 2vw;
  margin-top: 3vh;
  list-style: none;
  text-align: left;
}


li{
  margin-bottom: 1vh;
  padding: 1vh;
  margin: 0;
}

li:hover{
  background-color: rgb(168, 168, 168);
}

.menu{
  background-color: #676a70;
  height: 6vh;
}

.body{
  height: fit-content;
  display: grid;
  grid-template-columns: 20vw 80vw;
  column-gap: 3vw;
  padding: 5vh 3vw 2vh 3vw;
}

.filter{
  width: 20vw;
  height: fit-content;
  background-color:rgb(255, 237, 215);
}

.filter > ul{
  font-size: calc(10px + 0.8vmin);
  font-weight: 300;
}

.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
}